/* Separated from the main CSS because non-markdown cheatsheets
 * like the HTML only use this and not the main style.
 */
h2 .header-link, h3 .header-link, h4 .header-link, h5 .header-link, h6 .header-link {
  opacity: 0;
  font-size: 0.8em; }
h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
  opacity: 1; }
